
body {
    margin: 0 0px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#home {
    background: rgb(2, 2, 39);
    color: white;
    height: 100vh;
    margin: 0px;
    border-radius: 0px;
}

.descrip {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.my-info {
    list-style: none;
    align-items: center;
    padding: 10px 20px;
    margin-left: 100px;
    margin-right: 20px;
    text-align: center;
    font-size: 40px;
}

.download-cv {
    display: inline-block;
    padding: 8px 15px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 580px;
    margin-top: 50px;
    background-color: rgb(2, 2, 39);
    border: solid rgb(5, 248, 5);
}

.download-cv a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

.download-cv:hover {
    background-color: grey;
    cursor: pointer;
}

.descrip img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
}

.descrip h3{
    color: rgb(7, 247, 7);
    font-size: 200%;
    text-align: center;
}

.descrip p {
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight: bold;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-bar li {
    margin: 0 ;
}

.nav-bar a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.nav-bar a:hover {
    text-decoration: none;
    color: black;
    background-color: red;
}

.nav-bar li img {
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
    margin-top: 1px;
    margin-left: 1px;
}
.nav-bar {
    /*position: fixed;*/
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #007acc;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: #fff;
    padding: 10px 20px;
    margin: 0px;
    border-radius: 0px;
}

.menu-toggle {
    display: none; /* Hide by default on larger screens*/
    cursor: pointer;
}


section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about {
    background-color: rgb(252, 251, 250);
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#about p {
    text-align: left;
}

#about h1 {
    text-align: center;
    font-weight: bold;
    color: crimson;
}
.services {
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    overflow: hidden;
    /*scroll-snap-type: x mandatory;*/
    margin-right: 5px;
    margin-left: 5px;
}

.service:hover {
    background-color: rgb(133, 131, 131);
}

.service {
    flex: 0 0 auto;
    width: 320px;
    padding: 50px;
    text-align: center;
    scroll-snap-align: start;
    border-radius: 20px;
    background-color: rgb(238, 236, 236);
}

.service img {
    margin-bottom: 10px;
    height: 90px;
    width: 90px;
}


#skills {
    margin: 0px;
    background-color: rgb(2, 2, 39);
    border-radius: 0px;
}

#skills h1 {
    text-align: center;
    font-weight: bold;
    color: rgb(7, 250, 47);
}

.skill {
    margin-bottom: 10px;
}

.bar {
    background-color: #f0f0f0;
    height: 8px;
    width: 90%;
    border-radius: 5px;
    position: relative;
}

.percentage {
    background-color: #007acc;
    height: 100%;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
}

.li-bullets {
    color: white;
    list-style: none;
}

#projects {
    background-color: #fff;
    margin: 0px;
    border-radius: 0px;
}

#projects h1 {
    text-align: center;
    font-weight: bold;
    color: crimson;
    margin: 10px;
}

#projects p {
    text-align: left;
}


.projects-grid {
    /*display: grid; /* For more projects*/
    display: flex;
    /*grid-template-columns: repeat(3, 1, fr);  For more projects*/
    flex-wrap: nowrap;
    gap: 165px;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    margin-left: 50px;
    margin-right: 50px;
}

.project:hover {
    background-color: rgb(226, 184, 184);
}
.project {
    flex: 0 0 auto;
    width: 400px;
    padding: 60px;
    text-align: center;
    scroll-snap-align: start;
    border-radius: 20px;
    background-color: rgb(238, 236, 236);
    position: relative;
    overflow: hidden;
}


.project img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.project a {
    display: inline-block;
    padding: 8px 15px;
    background-color: #007acc;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color (0.3s) ease;
}

.project a:hover {
    background-color: #0056b3;
}

.project :hover img {
    transform: scale(1.1);
}

.project :hover .project-overlay {
    opacity: 1;
}


.contact-form {
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 400px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    background-color: rgb(2, 2, 39);
}
#contacts {
    background-color: rgb(2, 2, 39);
    margin: 0px;
    border-radius: 0px;
}

#contacts h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: rgb(5, 248, 5);
}

.contact-me {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 400px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    background-color: rgb(2, 2, 39);
}
.contact-details {
    display: flex;
    align-items: center;
    color: rgb(214, 211, 211);
    fill: rgb(24, 255, 3);
    font-weight: bold;
    gap: 10px;
}

.contact-details p {
    margin-left: 20px;
}


#contacts form {
    display: flex;
    flex-direction: column;
}

#contacts input, textarea {
    margin-bottom: 5px;
    display: block;
    color: white;
}

#contacts input, #contacts textarea {
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 0px solid rgb(201, 199, 199);
    background-color: rgb(30, 29, 34);
}

#contacts button {
    background-color: rgb(2, 2, 39);
    color: #fff;
    padding: 10px 20px;
    width: 120px;
    border: rgb(5, 252, 5);
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(5, 248, 5);
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contacts button:hover {
    background-color: #555;
}

footer {
    color: white;
    text-align: center;
    padding: 20px 0;
    background-color:rgb(2, 2, 39);
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

}

footer p {
    margin: 0;
    padding-top: 20px;
}

.social-nav {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 600px;
    padding-right: 600px;
    gap: 50px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.social-item-link > svg {
    fill: white;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.back-to-top a {
    font-size: 28px;
    text-decoration: none;
    color: #007bff;
    background-color: rgb(13, 12, 68);
}
/* Media Queries for Responsive Design*/

/* Media query for screens upto 767px (typical mobile phones screens) */

@media (max-width: 767px) {
    body {
        font-size: 14px;
    }

    #home {
        height: auto;
        border-radius: 0px;
    }

    section {
        text-align: center;
    }

    h1, h2, h3 {
        margin: 10px 0;
    }

    p {
        margin: 10px 0;
    }

    ul {
        padding: 0;
    }

    .descrip img {
        max-width: 120px;
        max-height: 120px;
        border-radius: 50%;
        margin-top: 1px;
        margin-right: 1px;
    }

    .descrip {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1px;
    }

    .my-info {
        list-style: none;
        align-items: center;
        padding: 10px 20px;
        margin-left: 10px;
        margin-right: 20px;
        margin-top: 20px;
        text-align: center;
        font-size: 18px;
    }

    .download-cv {
        display: inline-block;
        padding: 8px 15px;
        border-radius: 20px;
        margin-right: 10px;
        margin-left: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: rgb(2, 2, 39);
        border: solid rgb(5, 248, 5);
    }

    .download-cv a {
        color: white;
        font-weight: bolder;
        text-decoration: none;
        font-size: 20px;
    }

    .nav-bar {
        padding: 10px;
        flex-direction: column;
        align-items: left;
    }

    .nav-bar ul {
        display: none; /* Hide menu on smaller screens*/
        flex-direction: column;
        background-color: #007acc;
        padding: 20px;
    }

    .menu-toggle {
        display: block; /* Show the hambuger icon*/
        cursor: pointer;
    }

     .menu-toggle .bar {
        height: 3px;
        width: 25px;
        background-color: #fff;
        margin: 3px 0;
        border-radius: 2px;
    }

    .projects-grid {
        padding: 0;
        display: grid;
        position: static;
        gap: 10px;
        overflow: hidden;
        margin-left: 0px;
        margin-right: 0px;
        align-items: center;
        margin-top: 0px;
        padding-top: 0px;
        height: auto;
    }

    .project {
        margin-left: 0px;
        margin-right: 0px;
        background-color: #f0f0f0;
        flex: 0 0 auto;
        width: 250px;
        height: auto;
        text-align: center;
        scroll-snap-align: center;
        border-radius: 10px;
        background-color: rgb(238, 236, 236);
        position: relative;
        overflow: hidden;
        margin-top: 0px;
    }

    #projects p {
        text-align: center;
    }

    .project img {
        max-width: 100%; /* Ensure images don't exceed their container's width */
        height: auto; /* Maintain the aspect ratio of images */
    }

    .project-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project a {
        margin: 5px;
        display: inline-block;
        padding: 1px 5px;
        background-color: #007acc;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin-right: 10px;
        transition: background-color (0.3s) ease;
    }

    .gallery {
        display: grid;
        position: static;
        gap: 10px;
        overflow: hidden;
        scroll-snap-type: x mandatory;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0;
        height: auto;
        align-items: center;
    }

    .services {
        text-align: center;
        margin-left: 0;
        padding: 0;
    }

    .service {
        flex: 0 0 auto;
        width: 330px;
        padding: 30px;
        text-align: center;
        scroll-snap-align: start;
        border-radius: 20px;
        background-color: rgb(238, 236, 236);
    }

    .service p {
        text-align: left;
    }

    .para p {
        text-align: left;
    }

    #projects p {
        text-align: left;
    }

    #skills li {
        text-align: left;
    }

    .bar {
        height: 5px;
    }

    .contact-details p {
        font-size: 15px;
        margin-left: 5px;
    }

    .contact-details {
        margin: 5px;
    }

   .my-contacts p {
        text-align: left;
        /*font-weight: bold;*/
        font-size:15px;
        gap: 5px;
    }

    .contact-form label {
        text-align: left;
    }

    .copyright {
        margin-top: 10px;
        color: rgb(255, 255, 255);
    }

    .social-nav {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 1px;
        padding-left: 130px;
        padding-right: 150px;
        padding-top: 1s0px;
        /*color: rgb(255, 253, 253);
        text-decoration: none;
        margin: 0 10px;*/
        margin: 20px;
    }

}
 

/* Media query for small screens between 768px and 991px */

@media (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 15px;
    }

    h1, h2, h3 {
        margin: 15px 0; /* Wider margins for better spacing */
    }

    p {
        margin: 15px 0;
    }

    ul {
        padding: 0 10px;
    }

    .my-info li {
        text-align: center;
        font-size: 24px;
    }

    .descrip {
        display: flex;
        align-items: center;
        gap: 0px;
    }

     .descrip img {
        max-width: 180px;
        max-height: 180px;
        border-radius: 50%;
        margin-top: 0px;
        margin-right: 0px;
    }

    .download-cv {
        display: inline-block;
        padding: 8px 15px;
        border-radius: 20px;
        margin-right: 10px;
        margin-left: 330px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .services p {
        margin-left: 8px;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    .menu li {
        margin: 0;
    }

    .gallery {
        flex-wrap: wrap;
        gap: 5px;
        display: grid;
        position: static;
        overflow: hidden;
        scroll-snap-type: x mandatory;
        margin-right: 0px;
        margin-left: 0px;
        padding: 0;
        height: auto;
        align-items: center;
    }

    .service {
        width: 100%;
        text-align: center;
        margin-left: 0;
        padding: 0;
    }

    .service p {
        text-align: left;
    }

    .projects-grid {
        padding: 0;
        display: grid;
        position: static;
        gap: 5px;
        overflow: hidden;
        margin-left: 30px;
        margin-right: 0px;
        align-items: center;
        margin-top: 5px;
        padding-top: 5px;
        height: auto;
    }

    .project {
        margin-left: 2px;
        margin-right: 2px;
        background-color: #f0f0f0;
        flex: 0 0 auto;
        width: 560px;
        height: auto;
        text-align: center;
        scroll-snap-align: start;
        border-radius: 20px;
        background-color: rgb(238, 236, 236);
        position: static;
        overflow: hidden;
        margin-top: 5px;
    }

    #projects p {
        text-align: left;
    }

    .social-nav {
        padding-left: 310px;
    }
}